{{ if .Values.config.meteorology.nam }}
apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: {{ .Release.Name }}-download-nam
  labels:
    app: metget
    component: download
    service: nam
spec:
  schedule: "{{ .Values.config.schedules.nam }}"
  concurrencyPolicy: "Forbid"
  startingDeadlineSeconds: 0
  workflowSpec:
    activeDeadlineSeconds: {{ .Values.config.download_timeout }}
    entrypoint: runner
    serviceAccountName: operate-workflow-sa
    ttlStrategy:
      secondsAfterCompletion: 120    # Time to live after workflow is completed, replaces ttlSecondsAfterFinished
      secondsAfterSuccess: 120       # Time to live after workflow is successful
      secondsAfterFailure: 86400     # Time to live after workflow fails
    arguments:
      parameters:
        - name: input-service
          value: nam
    templates:
      - name: runner
        steps:
        - - name: download
            templateRef:
              name: download-template
              template: download-runner
            arguments:
              parameters:
                - name: service
                  value: '{{ "{{" }}workflow.parameters.input-service{{ "}}" }}'
{{ end }}
