#####################################################
# MetGet Helm Deployment Values File
#
# Author: Zach Cobell
# Contact: zcobell@thewaterinstitute.org
#
# Use this file to supply values for the MetGet
# server deployment
#####################################################


#####################################################
# Containers
#
# A series of docker containers are required for the
# various pods. Their paths and versions are specified
# here. You may change these if you have a development
# version or if you have forked the code and changed
# how the containers operate
#####################################################
containers:
  #...Version of the containers to use. By default,
  # the TheWaterInstitute registry provides stable
  # and development tags. Stable releases are also
  # tagged with semantic versioning, i.e.
  # "0.1.0-stable". The development tag should be
  # used at your own risk.
  version: 0.7.6-stable
  database:
    image: thewaterinstitute/metget-database
  download:
    image: thewaterinstitute/metget-download
  api:
    image: thewaterinstitute/metget-api
  build:
    image: thewaterinstitute/metget-build
  utilities:
    image: thewaterinstitute/metget-utilities

#####################################################
# Authentication Information
#
# MetGet will use AWS S3 buckets to store data when
# required. Supply the AWS credentials to use to
# upload data to the specified S3 buckets
#
# COAMPS data is stored in a specific S3 bucket when
# posted by NRL. These buckets (may) require specific
# access keys for use, and so their values are required
# here if you want to use either coamps or ctcx data
#####################################################
auth:
  aws_region: aws_region
  aws_access_key_id: access_key_id
  aws_secret_access_key: access_key
  aws_coamps_access_key_id: access_key_id
  aws_coamps_secret_access_key: access_key
  database_root_password: default_password

#####################################################
# HTTP Settings
#
# Use these settings to enable an external ingress
# within AWS. You can disable this if you'd like
# to specify your own ingress outside EKS or
# on your local k8s cluster
#####################################################
http:
  use_http: False
  aws_certificate_arn: cert_arn
  host: dev-api.metget.org
  project_tag: project_code
  #...Shared ALB Configuration
  # Set use_shared_alb to True to use an existing shared
  # Application Load Balancer instead of creating a
  # dedicated ALB for this deployment. This is useful
  # for consolidating multiple services behind a single
  # ALB to reduce costs and simplify management.
  use_shared_alb: False
  shared_alb:
    # The ALB group name to join. All ingresses with the
    # same group name share a single ALB.
    group_name: floodid-shared
    # Target type for the ALB target group.
    # Use "ip" for pod IP addressing (recommended for shared ALB)
    # Use "instance" for node-based routing
    target_type: ip
    # TLS security policy for the ALB listener
    ssl_policy: ELBSecurityPolicy-TLS13-1-2-2021-06

#####################################################
# S3 Configuration
#
# The AWS S3 buckets that are used throughout the
# code to either download data and store or post
# data to for outside users
#####################################################
s3:
  storage_bucket: metget-data-store
  upload_bucket: metget-data-upload
  coamps_storage_bucket: coamps-tc-data


#####################################################
# Configuration Options
#####################################################
config:
  storage:
  #####################################################
  # For the database, use an EBS based storage rather
  # then a local storage. This is better for production
  # and you should use this for production deployments
  #####################################################
    use_aws_ebs: True
  #####################################################
  # Workflow Timeouts
  #
  # Maximum time in seconds that jobs can run before
  # being terminated by Argo Workflows. This prevents
  # jobs from hanging indefinitely.
  #####################################################
  download_timeout: 600   # 10 minutes
  build_timeout: 3600     # 60 minutes

  #####################################################
  # Download Schedules
  #
  # Cron schedules for each download job. These are
  # staggered across the 5-minute interval to avoid
  # "thundering herd" resource spikes. Jobs are spread
  # across minutes 0-4 of each 5-minute window.
  #
  # Format: "minute hour day month weekday"
  # Default schedules run every 5 minutes, staggered:
  #   Slot 0: minute 0,5,10,15,20,25,30,35,40,45,50,55
  #   Slot 1: minute 1,6,11,16,21,26,31,36,41,46,51,56
  #   Slot 2: minute 2,7,12,17,22,27,32,37,42,47,52,57
  #   Slot 3: minute 3,8,13,18,23,28,33,38,43,48,53,58
  #   Slot 4: minute 4,9,14,19,24,29,34,39,44,49,54,59
  #
  # Priority jobs (GEFS, RRFS, REFS, HWRF, HRRR) are each
  # assigned to separate slots to avoid overlap.
  #####################################################
  schedules:
    gefs: "0,5,10,15,20,25,30,35,40,45,50,55 * * * *"
    rrfs: "1,6,11,16,21,26,31,36,41,46,51,56 * * * *"
    refs: "2,7,12,17,22,27,32,37,42,47,52,57 * * * *"
    hwrf: "3,8,13,18,23,28,33,38,43,48,53,58 * * * *"
    hrrr: "4,9,14,19,24,29,34,39,44,49,54,59 * * * *"
    gfs: "0,5,10,15,20,25,30,35,40,45,50,55 * * * *"
    nam: "1,6,11,16,21,26,31,36,41,46,51,56 * * * *"
    hafs: "2,7,12,17,22,27,32,37,42,47,52,57 * * * *"
    hrrr_alaska: "3,8,13,18,23,28,33,38,43,48,53,58 * * * *"
    coamps: "4,9,14,19,24,29,34,39,44,49,54,59 * * * *"
    ctcx: "0,5,10,15,20,25,30,35,40,45,50,55 * * * *"
    nhc: "1,6,11,16,21,26,31,36,41,46,51,56 * * * *"
    wpc: "2,7,12,17,22,27,32,37,42,47,52,57 * * * *"
    adeck: "3,8,13,18,23,28,33,38,43,48,53,58 * * * *"
    era5: "0 * * * *" # Not implemented

  #####################################################
  # Enabled Meteorology Types
  #
  # The user may enable/disable different types of
  # meteorology in the deployment. Update the values
  # below to turn them on/off. Note that this only
  # disables the meteorology within the download phase.
  # If a user requests these data they will just be told
  # that the specified data does exist yet, but not
  # be alerted that you haven't enabled it in your
  # metget-server instance
  #####################################################
  meteorology:
    coamps: False
    ctcx: False
    era5: False
    gefs: False
    gfs: False
    hrrr: False
    hrrr_alaska: False
    hwrf: False
    hafs: False
    nam: False
    nhc: False
    wpc: False
    adeck: False
    rrfs: False
    refs: False
  #####################################################
  # Ensure that the API enforces credit limits
  #
  # Credit limits ensure that users cannot request
  # large amounts of data unless they've been given
  # an unlimited credit limit by the administrator.
  # Note that MetGet will still enforce the usage
  # of api keys for authentication
  #####################################################
  credits:
    enforce_credit_limits: True

#####################################################
# Prometheus Metrics
#
# Enable Prometheus metrics collection via ServiceMonitor.
# Requires kube-prometheus-stack or similar to be installed.
#####################################################
metrics:
  enabled: False
  # The release label must match your Prometheus installation
  release: kube-prometheus-stack
  # Scrape interval
  interval: 30s
